.bodyLogin{
    width: 100%;
    height: 100vh;
    background-image: url(img/background1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#side_nav{
  background-color: black;
}
.content{
  min-height: 100vh;
  width: 100%;
}

.blur-image {
  filter: blur(5px); /* Ganti angka 5px dengan tingkat blur yang Anda inginkan */
}

.item-left{
  display: flex;
  justify-content: flex-start;
}

.tombolTambahCV{
  opacity: 2;
}

.card-inner{
    background-color: rgba(255, 255, 255, 0.5);
    justify-content: center;
    background-image: url(img/BgCvSementara.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 12rem;
    height: 16rem;
}

.card-tambah{
  background-color: rgba(255, 255, 255, 0.5);
  justify-content: center;
  width: 12rem;
  height: 16rem;
}

.bg-tambah{
  background-image: url(img/BgTambahCV.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}

.card-body{
    gap: 10px;
    width: 20rem;
    padding-left: 8px;
    margin: auto;
}

.username{
    justify-content: center;
    object-position: center;
}

.sz-input{
    width: 10rem;
}
.p-search{
    width: 30rem;
}

.btnkosong{
    margin-left: 500px;
    border-color: rgb(255, 255, 255);
}

.bg-con{
    background-image: url(img/background1.png);
}

.bgc-abu1{
    background-color: rgb(197, 197, 197);
}

.bgc-abu2{
    background-color: rgb(174, 172, 172);
}

.bgc-putih1{
    background-color: rgb(255, 255, 255);
}

.font-jumbotron{
    font-family: "Libre Baskerville";
    font-size: 6rem;
    color: white;
}

.texnav{
    font-family: 'anton';
}

.fontpenjelasan{
    font-family: "Libre Baskerville";
    color: white;
    font-size: 20px;
}

.custom-btn {
    width: 100%; /* Atur lebar sesuai kebutuhan Anda */
  }

  .custom-form{
    height: 100px;
    display: block;
    width: 100%;
    margin-top: 5px;
  }

.p-form{
    width: 17rem;
}

.padt3{
    padding-top: 0.5rem;
}

.f-libre{
    font-family: "Libre Baskerville";
}

.fc-abu{
    color: rgb(142, 142, 142);
}
.borCircle {
    border-radius: 50%;
}

.list-d-n{
    list-style: none;
}

.btn-width1{
    width: 10rem;
}

.btn-width2{
  width: 7.5rem;
}

.btn-width3{
  width: 5rem;
}

.btn-width4{
  width: 2.5rem;
}

.btn-height3{
  height: 5rem;
}

.btn-height4{
  height: 2.5rem;
}

section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background: #f5f8fd;
  }
  
  .section-title {
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #173b6c;
  }
  
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
  }
  
  .section-title p {
    margin-bottom: 0;
  }
  
  .about .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #05090f;
  }
  
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .about .content ul strong {
    margin-right: 10px;
  }
  
  .about .content ul i {
    font-size: 16px;
    margin-right: 5px;
    color: #149ddd;
    line-height: 0;
  }
  
  .about .content p:last-child {
    margin-bottom: 0;
  }


  /* ----------------test------------------- */
  /* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #11101d;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close{
  width: 78px;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}

.logo-details img {
  height: 30px; /* Adjust the height as needed */
  width: 30px; /* Adjust the width as needed */
  margin-left: 20px;
  /* margin-right: 10px; Add margin if needed */
  /* align-items: center; */
}

.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: #1d1b31;
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar .profile-details .job{
  font-size: 12px;
}
.home-section{
  position: relative;
  background: #E4E9F7;
  height: auto;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  padding: 12px;
}
.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}
.home-content{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu{
  cursor: pointer;
  margin-right: 10px;
}
.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
}

@media screen and (max-width: 400px){
  .sidebar{
    width: 240px;
  }
  .sidebar.close{
    width: 78px;
  }
  .sidebar .profile-details{
    width: 240px;
  }
  .sidebar.close .profile-details{
    background: none;
  }
  .sidebar.close .profile-details{
    width: 78px;
  }
  .home-section{
    left: 240px;
    width: calc(100% - 240px);
  }
  .sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.button-container {
  margin-bottom: 20px;
}

.button-container button {
  margin-right: 10px;
}

.container{
  height: auto;
}

html {
  overflow-y: scroll;
}

.bg-subtitlecv{
  background-color: rgb(44, 96, 161);
  border-radius: 20px;
  width: fit-content;
}

.font-subjudul{
  color: rgb(0, 0, 0);
  font-size: 10rem;
  padding: 0.5rem;
  text-transform: uppercase;
}

.text-besar{
  text-transform: uppercase;
}

.bold{
  font-weight: bolder;
  font-size: large;
}

.bold-lgn{
  font-weight: bolder;
  font-size: 2.5rem;
}
